<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroids: NeoSentry</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="{% static 'img/logonasa..png' %}" alt="Asteroid Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#tabscont">Project</a></li>
                <li><a href="#nasaapi">Nasa API</a></li>
                <li><a href="#asteroidAI">Asteroid AI</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="hero">
        <video autoplay loop muted class="planet-video">
            <source src="https://images-assets.nasa.gov/video/ARC-20170811-AAV2951-Eclipse-Package-KeplerSOFIA-NASAWeb/ARC-20170811-AAV2951-Eclipse-Package-KeplerSOFIA-NASAWeb~small.mp4" type="video/mp4">
        </video>
        <div class="content">
            <h1>Asteroids</h1>
            <h2>Threat or Wonder?</h2>
            <p>Discover the secrets of celestial rocks that pass near Earth.</p>
            <p>Are they a danger or a key to unlocking the mysteries of the cosmos?</p>
            <div class="buttons">
                <a href="#about" class="btn">Learn More</a>
            </div>
        </div>
    </main>

    <section id="about" class="about-section">
        <div class="about-container">
            <div class="about-text">
                <h3>NEAR-EARTH OBJECTS</h3>
                <h2>Potentially Hazardous Asteroids (PHAs)</h2>
                <p>
                Potentially Hazardous Asteroids, or PHAs, are celestial bodies that orbit close to Earth and possess characteristics that could pose a significant threat to our planet. 
                </p>
                <p>
                Defined by their size, trajectory, and proximity, PHAs are monitored closely by astronomers and space agencies worldwide as part of global planetary defense initiatives.
                </p>
                <p> PHAs are classified based on two key criteria: their minimum orbit intersection distance (MOID) with Earth, which must be 0.05 astronomical units (AU) or less, 
                    and their size, typically exceeding 140 meters in diameter. </p>
                <a href="#" class="learn-more">Learn More</a>
            </div>
            <div class="about-image">
                <img src="https://images-assets.nasa.gov/image/ACD17-0168-009/ACD17-0168-009~medium.jpg" alt="NASA's Orion Spacecraft">
            </div>
        </div>
    </section>

    <section id="newsletter" class="newsletter-banner">
        <div class="banner-content">
            <h2>Unveiling the Mysteries of the Cosmos</h2>
            <p>
                Every star has a story, every planet holds a secret,  
                and every journey begins with a single step into the unknown.  
            </p>
            <p>
                Humanity’s quest to explore the universe has revealed wonders beyond imagination,  
                from the fiery surfaces of distant stars to the icy depths of interstellar space.  
            </p>
            <a href="#" class="btn-signup">Discover More</a>
        </div>
    </section>
    
    <div id="tabscont" class="tabs-container">
        <div class="tabs">
            <button class="tab-link active" onclick="showSection('nasa-today')">NASA Database</button>
            <button class="tab-link" onclick="showSection('looking-forward')">Artificial Intelligence</button>
            <button class="tab-link" onclick="showSection('history')">A History of Innovation</button>
        </div>
    
        <div class="tab-content">
            <section id="nasa-today" class="section active">
                <div class="nasa-text">
                    <h2>NASA Database</h2>
                    <p>
                        The database used in this project is sourced directly from NASA’s extensive collection of near-Earth object (NEO) data,  
                        containing over 90,000 records of asteroids and their characteristics. For our analysis, we utilized a curated subset of 17,000 entries,  
                        carefully balanced to ensure an accurate and unbiased classification process.
                    </p>
                    <p>
                        The dataset includes crucial attributes such as maximum and minimum diameter, relative velocity, miss distance, and absolute magnitude.  
                        These features provide key insights into the potential hazards posed by asteroids and their trajectories near Earth.  
                        Leveraging this rich and detailed data, we aim to enhance understanding and prediction of potentially hazardous asteroids (PHAs).  
                    </p>
                    <p>
                        This comprehensive approach highlights the importance of NASA’s efforts in making data publicly available, empowering researchers  
                        worldwide to contribute to planetary defense and space exploration initiatives.  
                    </p>
                    
                </div>
                <div class="nasa-image">
                    <img src="{% static 'IMG/astronautspace.jpg' %}" alt="Technician working on NASA equipment">
                </div>
            </section>
    
            <section id="looking-forward" class="section">
                <div class="nasa-text">
                    <h2>Artificial Intelligence</h2>
                    <p>
                        As NASA explores the mysteries of the cosmos, advancements in artificial intelligence play a vital role in analyzing and interpreting vast amounts of data.  
                        In this project, we utilized a Multilayer Perceptron (MLP), a type of artificial neural network, to assess and classify asteroid data.  
                        This approach allows for high-precision predictions, aiding in the identification of potentially hazardous asteroids (PHAs).
                    </p>
                    <p>
                        The MLP model processes multiple features, such as asteroid diameter, relative velocity, miss distance, and absolute magnitude,  
                        to uncover patterns that might not be immediately visible through traditional methods. Its ability to learn complex relationships in the data  
                        ensures a robust and reliable analysis, contributing to planetary defense initiatives and our understanding of near-Earth objects.
                    </p>
                    <p>
                        By integrating AI technologies like the MLP, we not only enhance our predictive capabilities but also pave the way for smarter and more efficient  
                        methods to process the wealth of data generated by NASA's missions. The future of space exploration and planetary protection relies  
                        on the seamless collaboration between human ingenuity and artificial intelligence.
                    </p>
                    
                </div>
                <div class="nasa-image">
                    <img src="{% static 'IMG/spaceshiporbits.jpg' %}" alt="Looking forward missions">
                </div>
            </section>
            <section id="history" class="section">
                <div class="nasa-text">
                    <h2>A History of Innovation</h2>
                    <p>
                        For decades, NASA has led the charge in understanding and mitigating the risks posed by near-Earth objects (NEOs),  
                        including potentially hazardous asteroids (PHAs). With a commitment to planetary defense, NASA has developed sophisticated technologies  
                        and strategies to monitor and study these celestial objects, ensuring Earth's safety while advancing our knowledge of the solar system.
                    </p>
                    <p>
                        Programs like the Planetary Defense Coordination Office (PDCO) and missions such as DART (Double Asteroid Redirection Test)  
                        exemplify NASA's proactive approach to addressing asteroid impact risks. By leveraging state-of-the-art telescopes,  
                        satellite observations, and global collaborations, NASA continually refines its ability to detect and track PHAs with remarkable accuracy.  
                    </p>
                    <p>
                        This dedication not only safeguards our planet but also highlights NASA’s ongoing legacy of innovation,  
                        turning potential threats into opportunities for scientific discovery and technological advancement.  
                    </p>
                    
                </div>
                <div class="nasa-image">
                    <img src="{% static 'IMG/astrounatasnasa.jpg' %}" alt="Looking forward missions">

                </div>
            </section>
        </div>
    </div>
    <section id="nasaapi" class="asteroid-section">
        <div class="content">
            <h1 class="title">Near-Earth Asteroids</h1>
            <p class="description">
                Learn more about the asteroids that are approaching Earth in the coming days. Explore data on their sizes, speeds and distances.
            </p>
        </div>
        <div class="asteroid-cards" id="asteroid-cards-container">
           
        </div>
    </section>
    
    <script>
        
        function loadAsteroids() {
            fetch('http://127.0.0.1:8000/api/asteroids/search/') 
                .then(response => response.json())
                .then(data => {
                    const asteroidContainer = document.getElementById('asteroid-cards-container');
                    asteroidContainer.innerHTML = '';  
    
                    
                    if (data.asteroids && data.asteroids.length > 0) {
                        
                        const limitedAsteroids = data.asteroids.slice(0, 5);
    
                        limitedAsteroids.forEach(asteroid => {
                            const card = document.createElement('div');
                            card.classList.add('asteroid-card');
    
                            card.innerHTML = `
                                <h2 class="asteroid-name">${asteroid.name}</h2>
                                <div class="asteroid-details">
                                    <p><strong>Diameter: </strong>${asteroid.min_diameter} - ${asteroid.max_diameter} km</p>
                                    <p><strong>Speed: </strong>${asteroid.relative_velocity} km/s</p>
                                    <p><strong>Distance: </strong>${asteroid.miss_distance} AU</p>
                                    <p><strong>Absolute Magnitude: </strong>${asteroid.absolute_magnitude}</p>
                                </div>
                            `;
    
                            asteroidContainer.appendChild(card);
                        });
                    } else {
                        asteroidContainer.innerHTML = '<p>Nenhum asteroide encontrado.</p>';
                    }
                })
                .catch(error => {
                    console.error('Erro ao carregar asteroides:', error);
                    document.getElementById('asteroid-cards-container').innerHTML = '<p>Erro ao carregar os asteroides.</p>';
                });
        }
    
       
        window.onload = loadAsteroids;
    </script>
    <section class="apophis-section">
        <div class="text">
            <h2>Asteroid Apophis: Dangerous for Earth?</h2>
        <p>The asteroid Apophis, discovered in 2004, has captured the attention of scientists and space enthusiasts due to its size and unique trajectory.</p>
        
        <p>With an estimated diameter of approximately 370 meters, Apophis is one of the largest asteroids to pass close to Earth. Apophis has been closely monitored by various space agencies, including NASA, which uses advanced telescopes and radar technologies  
            to study its orbit and behavior. NASA is also exploring ways to deflect asteroids on a collision course with Earth,  
            a scenario that, while unlikely, could have serious consequences for life on our planet. </p>

        <p>During its closest approach, scheduled for 2029, Apophis will be just 31,000 kilometers from Earth a distance considered extremely close compared to the orbit of geosynchronous satellites.</p>

        <p>This event has generated significant concern, though the chances of an impact remain extremely low. However, the study of Apophis remains a priority for space research, providing critical insights into asteroid dynamics  
            and the potential threats they pose. </p>
        </div>
    
        <div class="asteroid-image">
            <img src="{% static 'IMG/smallfoto.png' %}" alt="Asteroide Apophis">
        </div>
    </section>
    
    <section class="mission-section">
        <h2>Asteroid Monitoring Missions</h2>
        <p>Discover how several space missions are monitoring near-Earth asteroids and exploring methods of defending against impacts.</p>
    
        <div class="mission-cards">
            <div class="mission-card">
                <h3>NEOWISE</h3>
                <p>NEOWISE is a NASA satellite focused on detecting near-Earth asteroids and comets. The mission was relaunched in 2013 and is vital for monitoring dangerous objects.</p>
            </div>
            <div class="mission-card">
                <h3>OSIRIS-REx</h3>
                <p>The OSIRIS-REx mission collects samples from the asteroid Bennu for study. Launched in 2016, it also provides crucial data for understanding impact risks.</p>
            </div>
            <div class="mission-card">
                <h3>AIDA (DART)</h3>
                <p>The AIDA mission, including the DART mission, aims to test asteroid deflection methods to protect Earth from possible collisions.</p>
            </div>
            <div class="mission-card">
                <h3>Hayabusa2</h3>
                <p>The Japan Aerospace Exploration Agency (JAXA) Hayabusa2 mission was launched to collect samples from the asteroid Ryugu.</p>
            </div>
            
        </div>
    </section>
    
    <section id="newsletter" class="newsletter-banner">
        <div class="banner-content">
            <h2>Embark on Cosmic Journeys via Email</h2>
            <p>Stay in the Cosmic Loop — Subscribe to NASA's Newsletter</p>
            <a href="#" class="btn-signup">Sign Up</a>
        </div>
    </section>
    
    <section id="asteroidAI" class="asteroid-section">
        <div class="content">
            <h1 class="titlee">Check if the Asteroid is Dangerous</h1>
            <p class="descriptionn">Enter the asteroid's information to find out if it poses a risk to Earth.</p>
        </div>
    
        <form id="asteroid-form">
            <label for="diametro_min">Minimum Diameter (in meters): </label>
            <input type="number" name="diametro_min" id="diametro_min" step="0.000001" required><br>
        
            <label for="diametro_max">Maximum Diameter (in meters): </label>
            <input type="number" name="diametro_max" id="diametro_max" step="0.000001" required><br>
        
            <label for="velocidade_relativa">Relative Speed (in km/s): </label>
            <input type="number" name="velocidade_relativa" id="velocidade_relativa" step="0.000001" required><br>
        
            <label for="miss_distance">Approach Distance (in km/s): </label>
            <input type="number" name="miss_distance" id="miss_distance" step="0.000001" required><br>
        
            <label for="magnitude_absoluta">Absolute Magnitude:</label>
            <input type="number" name="magnitude_absoluta" id="magnitude_absoluta" step="0.000001" required><br>
        
            <button type="submit">To send</button>
        </form>
        
    
        <h3 id="resultado"></h3>
        <p id="probabilidade"></p>
    
        <script>
            
            document.getElementById('asteroid-form').addEventListener('submit', function(event) {
                event.preventDefault();
    
                const diametro_min = document.getElementById('diametro_min').value;
                const diametro_max = document.getElementById('diametro_max').value;
                const velocidade_relativa = document.getElementById('velocidade_relativa').value;
                const miss_distance = document.getElementById('miss_distance').value;
                const magnitude_absoluta = document.getElementById('magnitude_absoluta').value;
    

                const dados = {
                    diametro_min,
                    diametro_max,
                    velocidade_relativa,
                    miss_distance,
                    magnitude_absoluta
                };
    
                fetch('/verificar_asteroide/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dados),
                })
                .then(response => response.json())
                .then(data => {
                   
                    document.getElementById('resultado').textContent = `Result: ${data.resultado}`;
                    document.getElementById('probabilidade').textContent = `Risk Probability: ${data.probabilidade}%`;
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
            });
        </script>
    

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Asteroid NeoSentry. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Contact</a>
            </div>
            
            </div>
            <div class="social-links">
                <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
            
        </div>
    </footer>
    

    <script src="{% static 'JS/app.js' %}"></script>
      
</body>
</html>
